@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background-image: url("../assets/bg-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.bg-2 {
  background-image: url("../assets/bg-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.centertable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
